# Ignore everything:
*

# Except for the following:

!/.gitignore
!/README.txt
!/makefile
!/*.h
!/*.cpp

!sgl/
!sgl/*.h
!sgl/*.cpp

!sgl/sgl_objects/
!sgl/sgl_objects/*.h
!sgl/sgl_objects/*.cpp

!sgl/sgl_utils/
!sgl/sgl_utils/*.h
!sgl/sgl_utils/*.cpp

!sgl/glt_zpr/
!sgl/glt_zpr/*.h
!sgl/glt_zpr/*.c

!examples-sgl/
!examples-sgl/*.h
!examples-sgl/*.cpp
!examples-sgl/makefile

